# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
reports
.certs
certs
# production
dist
build
.next
.vscode
.npm_token
.pat_token
# misc
.env
.idea
*.iml
*.log
*.bak
.DS_Store

# special
app.config.local.js*
gasket.config.local.js*
.docs

certs/*
startit.sh
certs/prompt-ui.c3.int.dev-gdcorp.tools.key
certs/prompt-ui.c3.int.dev-gdcorp.tools.crt
.vscode/task.json
.vscode/launch.json
pages/test-page.js
