email=noreply@godaddy.com
always-auth=true
auth-type=legacy
registry=https://artifactory.secureserver.net/artifactory/api/npm/node-virt/
//artifactory.secureserver.net/artifactory/api/npm/node-virt/:_auth="${NPM_AUTH_TOKEN}"
