/*
Use this file to define your global styles.

If you prefer to use CSS, change the file extension
to .css and update the import in `pages/_app.js`

If you have CSS files in node_modules you wish to import,
it is recommended to import those directly to `pages/_app.js`

@see: docs/css-imports.md
*/
.lh-container {
    display: flex;
    flex-direction: row;
    padding-top: 0px !important;
    .lh-start {
        justify-content: flex-start;
        margin-right: 16px;
    }
    .lh-between {
        justify-content: space-between;
        min-width: 45%;
        max-width: 30%;
    }
}
.logo {
    max-width: 350px;
    max-height: 100%;
    object-fit: contain;
}
.right-panel {
    display: flex;
    min-width: 400px;
}
.row {
    display: flex;
    min-height: 20px;
.column {
        flex: 1;/* This makes each column take up an equal amount of space */
    }
}
.m-t-1 {
    margin-top: 1rem !important;
}

body.ux-app.gasket-app {
    background-color: var(--ux-cao06b, white) !important;
}
body.ux-app.gasket-app .ux-app__content {
    background-color: var(--ux-cao06b, white) !important;
}


